################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build results
bin/
obj/
.vs/

# User-specific files
*.user
*.suo

# Logs
*.log

# Temporary files
*.tmp
*.vscode/

